.song-search-banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    /* p-4 */
    background-image: url('../../assets/images/banner-mobile.png');
}

@media (min-width: 768px) {
    .song-search-banner {
        height: 40vh;
        background-image: url('../../assets/images/banner-desktop.png');
    }
}

.song-search-content {
    max-width: 56rem;
    /* max-w-3xl */
}

.song-search-title {
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: 700;
    /* font-bold */
    margin-bottom: 1rem;
    /* mb-4 */
}

.song-search-subtitle {
    font-size: 1.125rem;
    /* text-lg */
    color: #939393;
    margin-bottom: 2rem;
    /* mb-8 */
}

@media (min-width: 640px) {
    .song-search-subtitle {
        font-size: 1.25rem;
        /* sm:text-xl */
    }
}

.search-container {
    position: relative;
    max-width: 32rem;
    /* max-w-lg */
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    width: 100%;
    height: 3.5rem;
    /* h-14 */
    padding-left: 1.25rem;
    /* pl-5 */
    padding-right: 3.5rem;
    /* pr-14 */
    border-radius: 9999px;
    /* rounded-full */
    font-size: 1.125rem;
    /* text-lg */
    color: black;
    background-color: white;
}

.search-input::placeholder {
    color: #939393;
}

.search-input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: #6fc13e;
}

.search-icon {
    position: absolute;
    right: 1.25rem;
    /* right-5 */
    top: 50%;
    transform: translateY(-50%);
    color: #383635;
}