.song-search-banner {
    height: 50vh;
    background-image: url('../../assets/images/banner-mobile.png');
    @apply relative w-full bg-cover bg-center bg-no-repeat flex items-center justify-center text-center text-white p-4;
}

@screen md {
    .song-search-banner {
        height: 40vh;
        background-image: url('../../assets/images/banner-desktop.png');
    }
}

.song-search-content {
    @apply max-w-4xl;
}

.song-search-title {
    @apply text-3xl font-bold mb-4;
}

.song-search-subtitle {
    @apply text-lg text-[#939393] mb-8 sm:text-xl;
}

.search-container {
    @apply relative max-w-lg mx-auto;
}

.search-input {
    @apply w-full h-14 pl-5 pr-[5rem] rounded-full text-lg text-black bg-white placeholder:text-[#939393];
}

.search-input:focus {
    @apply outline-none ring-2 ring-[#6fc13e];
}

.search-icon,
.search-icon-clear {
    @apply absolute top-1/2 -translate-y-1/2;
}

.search-icon {
    @apply right-5 text-[#383635] pointer-events-none;
}

.search-icon-clear {
    @apply right-[3.25rem] text-[#939393] cursor-pointer transition-colors hover:text-white;
}