.song-items-container {
    background-color: var(--color-bg);
    color: var(--color-text);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.no-songs-container {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--color-text-secondary);
}

.no-songs-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.end-of-list-message {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: var(--color-text-secondary);
    font-weight: 600;
}