@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
    @apply bg-black text-white m-0 p-0;
}

.footer-content {
    @apply w-full bg-black text-white p-4 flex justify-center text-center;
}