.song-items-container {
    background-color: #000000;
    color: white;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.no-songs-container {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #939393;
}

.no-songs-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.end-of-list-message {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #939393;
    font-weight: 600;
}