.filter-bar {
    @apply w-full flex justify-center text-white py-6 px-4 md:px-8;
}

.filter-container {
    @apply w-full max-w-4xl flex flex-col;
}

.filter-toggle-container {
    @apply flex items-center self-end gap-2 mb-4;
}

.filter-label {
    @apply text-sm font-semibold text-white;
}

.filter-button-range {
    @apply flex items-center text-sm font-bold border border-white rounded-3xl overflow-hidden;
}

.range-text {
    @apply px-3 py-1;
}

.filter-icon-wrapper {
    @apply bg-white rounded-full border-white p-1.5 block;
}

.filter-icon {
    @apply w-4 h-4;
    background-image: url('../../assets/icons/filter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

.filter-icon.invert {
    filter: invert(1);
}

.filter-button {
    @apply text-sm font-bold border border-white rounded-full p-1.5;
}

.levels-container {
    @apply grid grid-cols-5 gap-4 pb-2 mx-4 sm:flex sm:overflow-x-auto sm:flex-nowrap sm:mx-0;
}

[data-theme="light"] .filter-bar {
    @apply text-[var(--color-black)];
}

[data-theme="light"] .filter-label {
    @apply text-[var(--color-black)];
}

[data-theme="light"] .filter-label.label-closed {
    @apply text-[var(--color-black)];
}

[data-theme="light"] .filter-button-range {
    @apply border-[var(--color-black)];
}

[data-theme="light"] .filter-icon-wrapper {
    @apply bg-black;
}

[data-theme="light"] .filter-icon-wrapper .filter-icon {
    filter: invert(1);
}

[data-theme="light"] .filter-icon.invert {
    filter: invert(0);
}

[data-theme="light"] .filter-button {
    @apply border-[var(--color-black)];
}