.filter-bar {
    @apply w-full flex justify-center text-white py-6 px-4 md:px-8;
}

.filter-container {
    @apply w-full max-w-4xl flex flex-col;
}

.filter-toggle-container {
    @apply flex items-center self-end mb-4 gap-2;
}

.filter-label {
    @apply text-sm font-semibold text-white;
}

.filter-button-range {
    @apply flex items-center text-sm font-bold border border-white rounded-3xl overflow-hidden leading-none;
}

.range-text {
    @apply px-3 py-1;
}

.filter-icon-wrapper {
    @apply bg-white rounded-full border-white p-1.5 block;
}

.filter-icon {
    @apply w-4 h-4 inline-block bg-no-repeat bg-center bg-contain;
    background-image: url('../../assets/icons/filter.svg');
}

.filter-icon.invert {
    filter: invert(1);
}

.filter-button {
    @apply border border-white rounded-full p-1.5 leading-none;
}

.levels-container {
    @apply grid grid-cols-5 gap-4 pb-2 mx-4 sm:flex sm:overflow-x-auto sm:flex-nowrap sm:mx-0;
}

.filter-clear-button {
    @apply bg-transparent border-0 text-[var(--color-grey-light)] text-sm font-medium cursor-pointer py-1 px-2 transition-colors;
}