.main-page-container {
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: 'Montserrat', sans-serif;
}

.theme-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--color-filter-button-border);
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    cursor: pointer;
    z-index: 100;
}