.level-indicator-container {
    width: var(--size);
    height: var(--size);
    @apply relative flex items-center justify-center font-bold;
}

.level-indicator-number {
    @apply relative z-10 text-black;
}

.dark .level-indicator-number {
    @apply text-white;
}

.level-indicator-svg {
    @apply absolute inset-0 -rotate-90;
}

.level-indicator-track {
    stroke: rgba(0, 0, 0, 0.1);
}

.dark .level-indicator-track {
    stroke: rgba(255, 255, 255, 0.2);
}

.level-indicator-arc {
    stroke: var(--level-color);
}