.level-indicator-container {
    width: var(--size);
    height: var(--size);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.level-indicator-number {
    position: relative;
    z-index: 10;
}

.level-indicator-svg {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.level-indicator-track {
    stroke: rgba(255, 255, 255, 0.2);
}

.level-indicator-arc {
    stroke: var(--level-color);
}